.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 50px 0;
  /* background: rgba(0,0,0,0.3); */
}

.navbar-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;  /* Split left and right */
  align-items: center;
  padding: 0 75px;
}

.navbar-left,
.navbar-right {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
}

.nav-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-family: inherit;
  transition: all 0.3s ease;
}

.navbar-left .nav-button {
  position: relative;
  color: white;
  font-size: 32px;
  font-weight: bold;
  font-family: 'Kenoky', sans-serif;
}

.navbar-right .nav-button {
  position: relative;
  color: white;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.nav-button.active {
  color: #ffffff;
}

.navbar-right .nav-button::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px; 
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s ease;
}

.navbar-right .nav-button:hover::after {
  width: 100%;
}

.navbar-right .nav-button.active::after {
  background-color: #ffffff;
  width: 100%;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Kenoky';
  src: url('/fonts/KenokyLight.ttf') format('truetype');
  font-style: normal;
}