.container {
    position: fixed;
    bottom: 50px;   
    left: 50px;     
    display: flex;
    flex-direction: row;  
    gap: 40px;            
    z-index: 1001;
}

.container svg {
    height: 40px;
    width: 40px;
    fill: rgba(255, 255, 255, 1);
    transition: fill 0.2s, stroke 0.2s;
    cursor: pointer;
}

.container svg:hover {
    fill: rgba(256, 256, 256, 0.5); 
}
