<link rel="stylesheet" href="../css/footer.css?v=1.0">

<div class="footer-bottom">
    <div class="social-icons">
        <span class="icon-wrapper github">
          <a href="https://github.com/ayndrs" target="_blank" aria-label="GitHub">
            <img src="../assets/github.svg?v=1.0" alt="Github" class="icon" />
          </a>
        </span>
        <span class="icon-wrapper linkedin">
          <a href="https://linkedin.com/in/gohyun" target="_blank" aria-label="LinkedIn">
            <img src="../assets/linkedin.svg?v=1.0" alt="LinkedIn" class="icon"" />
          </a>
        </span>
        <span class="icon-wrapper youtube">
          <a href="https://www.youtube.com/@Ayndr" target="_blank" aria-label="Youtube">
            <img src="../assets/youtube.svg?v=1.0" alt="YouTube" class="icon" />
          </a>
        </span>
      </div>
    <p class="yearC">&copy; <span id="year"></span> gohyun</p>
</div>
