<div class="footer-bottom">
    <div class="social-icons">
        <span class="icon-wrapper github">
          <a href="https://github.com/ayndrs" target="_blank" aria-label="GitHub">
            <img src="../img/github.svg" alt="Github" class="icon" />
          </a>
        </span>
        <span class="icon-wrapper linkedin">
          <a href="https://linkedin.com/in/gohyun" target="_blank" aria-label="LinkedIn">
            <img src="../img/linkedin.svg" alt="LinkedIn" class="icon"" />
          </a>
        </span>
        <span class="icon-wrapper youtube">
          <a href="https://www.youtube.com/@Ayndr" target="_blank" aria-label="Youtube">
            <img src="../img/youtube.svg" alt="YouTube" class="icon" />
          </a>
        </span>
      </div>
    <p class="yearC">&copy; <span id="year"></span> gohyun</p>
</div>

