<link rel="stylesheet" href="../css/projects.css?v=1.0">
<div class="main-container">
    <div class="image-preview">
        <a href="https://github.com/ewbyf/MrRecipe" target="_blank" rel="noopener noreferrer">
            <img src="../assets/Mr_Recipe.png" alt="char">
            <span class="overlay">
                <div class="desc">
                    <h1>Mr. Recipe</h1>
                    <p>Full-stack social media recipe app designed for chefs of all skill levels to discover and share new recipes.</p>
                    <div class="tech-stack">
                        <i class="fa-brands fa-react fa-3x"></i>
                        <i class="fa-brands fa-js fa-3x"></i>
                    </div>
                </div>
            </span>
        </a>
    </div>
    <div class="image-preview">
        <a href="https://github.com/ewbyf/MrRecipe" target="_blank" rel="noopener noreferrer">
            <img src="../assets/background.jpg" alt="char">
            <span class="overlay">
                <div class="desc">
                    <h1>Project 2</h1>
                    <p>This is a description.</p>
                    <div class="tech-stack">
                        <i class="fa-brands fa-react fa-3x"></i>
                        <i class="fa-brands fa-js fa-3x"></i>
                    </div>
                </div>
            </span>
        </a>
    </div>
    <div class="image-preview">
        <img src="../assets/background_2.jpg" alt="char">
        <span class="overlay">
            <div class="desc">
                <h1>Project 3</h1>
                <p>This is a description.</p>
                <div class="tech-stack">
                    <i class="fa-brands fa-react fa-3x"></i>
                    <i class="fa-brands fa-js fa-3x"></i>
                </div>
            </div>
        </span>
    </div>
    <div class="image-preview">
        <img src="../assets/background_3.jpg" alt="char">
        <span class="overlay">
            <div class="desc">
                <h1>Project 4</h1>
                <p>This is a description.</p>
                <div class="tech-stack">
                    <i class="fa-brands fa-react fa-3x"></i>
                    <i class="fa-brands fa-js fa-3x"></i>
                </div>
            </div>
        </span>
    </div>
    <div class="image-preview">
        <img src="../assets/background_4.jpg" alt="char">
        <span class="overlay">
            <div class="desc">
                <h1>Project 5</h1>
                <p>This is a description.</p>
                <div class="tech-stack">
                    <i class="fa-brands fa-react fa-3x"></i>
                    <i class="fa-brands fa-js fa-3x"></i>
                </div>
            </div>
        </span>
    </div>
</div>