<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="../css/videoModal.css?v=1.0">
<div class="things">
    <section class="one">
        <div class="video-preview">
            <img src="../assets/japan.png" alt="">
            <video autoplay loop muted playsinline>
                <source src="../assets/videos/japan.webm" type="video/webm">
            </video>
        </div>

        <div class="miscText">
            <h5>Film | Japan</h5>
            <p>2023</p>
        </div>
        
        <div class="video-modal none inactive">
            <div class="video"></div>
        </div>
    </section>
    <section class="two">
        <div class="video-preview">
            <img src="../assets/bocchi.gif" alt="">
        </div>
        
        <div class="miscText">
            <h5>nothing to see here</h5>
            <p></p>
        </div>
    </section>
</div>