<link rel="stylesheet" href="../css/videoModal.css?v=1.0">

<div class="video-preview">
    <img src="../assets/japan.png" alt="">
    <video autoplay loop muted playsinline>
        <source src="../assets/videos/japan.webm" type="video/webm">
    </video>
    <box-icon name="play-circle"></box-icon>
</div>

<div class="video-modal none inactive">
    <box-icon class="close-btn" name="x:"></box-icon>
    <div class="video"></div>
</div>
<p>dawniouiouiouiouiouiouiouiouiouiouiouiouiouiouiouiouiouiouiouiouiouiouiouiouiouiouiouiouiu</p>